# whitelist styled gitignore
*
!*/

# metadata and project setup file
!.gitignore
!pyproject.toml
!CLAUDE.md

# code
!*.py
!*.cpp

# deploy code
!*.html
!*.css
!*.js

# documentation
!report.md
!README.md

# commonly ignored file type: binary data (*.pt, *.npz), training log (*.log, *.csv), internal/temporary documents (*.md).
